@{
    ViewData["Title"] = "Home Page - Adler";
}
@section Scripts{
    <script src="~/clientapp/dist/runtime.js"></script>
    <script src="~/clientapp/dist/polyfills.js"></script>
    <script src="~/clientapp/dist/styles.js"></script>
    <script src="~/clientapp/dist/vendor.js"></script>
    <script src="~/clientapp/dist/main.js"></script>
}

<div class="container-fluid">
    <p >
        <h1>Home | Index Page</h1>
        <hr />
        <h2>Routing For Admin Area</h2>
        <a asp-area="Admin" asp-controller="Products" asp-action="Index"><b>Admin Products</b> </a>
        <br />
        <a asp-area="Admin" asp-controller="Category" asp-action="Index">Admin Category</a>

        <hr />
        <h2>Routing For Frontend</h2>
        <a asp-controller="Product" asp-action="Index">Product List Page</a>

        <br />
        <a asp-controller="Categories" asp-action="Index">Categories List Page</a>

        <br />
        <a asp-controller="Card" asp-action="Index">Card List Page</a>
    </p>
</div>

<div class="container-fluid">
    <div class="row">
        <my-app></my-app>
    </div>
</div>