<nav class="navbar navbar-dark  bg-dark navbar-expand-md">
    <h1 class="navbar-brand">
        <a class="logo navbar-brand" href="/">
            <i class="fa fa-paint-brush"></i> Welcome to NoNameYet
        </a>
    </h1>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#theMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav container-fluid"></ul>
    @await Html.PartialAsync("AdminPartials/_TopPartialLoginMenu")
</nav>