@inject SignInManager<Customer> SignInManager
@inject UserManager<Customer> UserManager

<div id="theMenu" class="navbar-collapse collapse navbar-right ">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class=" navbar-nav  m-r-15">
            <ul class="nav navbar-top-links navbar-right pull-right">
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle profile-pic" data-toggle="dropdown" aria-expanded="false"><b class="hidden-xs">Hello @UserManager.GetUserName(User)</b> </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a asp-area="Admin" asp-controller="Products" asp-action="Index">
                                <b>
                                    Admin Panel 1
                                </b>
                            </a>
                        </li>
                        <li class="divider"></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
                </li>
            </ul>
        </div>
    }
    else
    {
        <ul class=" navbar-nav   ">
            <li class="nav-item  "><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
            <li class="nav-item " ><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
        </ul>
    }
 </div>