<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body class="">
    <partial name="AdminPartials/_TopMenu" />
    <div id="wrapper" class="container">
        <div class="row">
            <div class="col-3">
                <partial name="AdminPartials/_Sidebar" />
            </div>
            <div id="page-content-wrapper" class="col-9">
                @RenderBody()

            </div>
        </div>
    </div>            
    <footer class="footer text-center">© @DateTime.Now.Year | Powered by Love</footer>

    @RenderSection("scripts", required: false)

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/custom.js"></script>

</body>
</html>